---
layout: default
title: Enjoy Code
group: navigation
---

{% for post in paginator.posts %}
<article>
    <div class="heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
    <p class="meta"><a class="permalink" href="{{ site.baseurl }}{{ post.url }}">&#9679;</a> {{ post.date | date_to_string }}</p>
    <div>
        <p>{{ post.content | strip_html | truncate: 350 }} <a href="{{ site.baseurl }}{{ post.url }}">Lire la suite</a></p>
    </div>
    {% include tags.html %}
</article>
<span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
<hr>
{% endfor %}

<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Articles plus récents</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Articles plus anciens &rarr;</a></li>
    {% endif %}
</ul>
